### macOS ###
.DS_Store
._*

### Node ###
build/
coverage/
node_modules/
npm-debug.log*
*.lcov

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Other IDEs ###
.idea/
*.iml

### Custom ###
/ormconfig.json
ormlogs.log

/test/github-issues/799/tmp/*

# stryker temp files
.stryker-tmp
/reports
