name: database-tests

on:
  workflow_call:
    inputs:
      node-container:
        required: true
        type: string

jobs:
  cockroachdb:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      npm_config_yes: 'true'
    container: ${{inputs.node-container}}
    services:
      crdb:
        image: cockroachdb/cockroach
        env:
          COCKROACH_ARGS: 'start-single-node --insecure --cache=1GB --store=type=mem,size=4GB'

    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: chown -R 1001:127 /github/home/.npm #This fix is needed for running CLI tests
      - run: cp .github/workflows/test/cockroachdb.ormconfig.json ormconfig.json
      - run: npx nyc -t ./nyc_output npm run test
      - run: npx nyc report --reporter html --reporter text --report-dir coverage/html -t ./nyc_output
      - uses: actions/upload-artifact@v4
        with:
          name: nyc_output-crdb
          path: ./nyc_output

  mongodb:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      npm_config_yes: 'true'
    container: ${{inputs.node-container}}
    services:
      mongodb:
        image: mongo:5.0.12

    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: chown -R 1001:127 /github/home/.npm #This fix is needed for running CLI tests
      - run: cp .github/workflows/test/mongodb.ormconfig.json ormconfig.json
      - run: npx nyc -t ./nyc_output npm run test
      - run: npx nyc report --reporter html --reporter text --report-dir coverage/html -t ./nyc_output
      - uses: actions/upload-artifact@v4
        with:
          name: nyc_output-mongodb
          path: ./nyc_output


  mssql:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      npm_config_yes: 'true'
    container: ${{inputs.node-container}}
    services:
      mssql:
        image: "mcr.microsoft.com/mssql/server:2022-latest"
        env:
          SA_PASSWORD: "Admin12345"
          ACCEPT_EULA: "Y"

    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: chown -R 1001:127 /github/home/.npm #This fix is needed for running CLI tests
      - run: cp .github/workflows/test/mssql.ormconfig.json ormconfig.json
      - run: npm test
      - run: npx nyc -t ./nyc_output npm run test
      - run: npx nyc report --reporter html --reporter text --report-dir coverage/html -t ./nyc_output
      - uses: actions/upload-artifact@v4
        with:
          name: nyc_output-mssql
          path: ./nyc_output


  mysql_mariadb:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      npm_config_yes: 'true'
    container: ${{inputs.node-container}}
    services:
      mysql:
        image: mysql:5.7.37
        env:
          MYSQL_ROOT_PASSWORD: "admin"
          MYSQL_USER: "test"
          MYSQL_PASSWORD: "test"
          MYSQL_DATABASE: "test"
      mariadb:
        image: mariadb:10.10.3
        env:
          MYSQL_ROOT_PASSWORD: "admin"
          MYSQL_USER: "test"
          MYSQL_PASSWORD: "test"
          MYSQL_DATABASE: "test"

    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: chown -R 1001:127 /github/home/.npm #This fix is needed for running CLI tests
      - run: cp .github/workflows/test/mysql-mariadb.ormconfig.json ormconfig.json
      - run: npx nyc -t ./nyc_output npm run test
      - run: npx nyc report --reporter html --reporter text --report-dir coverage/html -t ./nyc_output
      - uses: actions/upload-artifact@v4
        with:
          name: nyc_output-mysql_mariadb
          path: ./nyc_output


  better-sqlite3:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      npm_config_yes: 'true'
    container: ${{inputs.node-container}}

    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: chown -R 1001:127 /github/home/.npm #This fix is needed for running CLI tests
      - run: chown -R 1001:127 ./temp #This fix is needed for fixing permission error on Node 16
      - run: cp .github/workflows/test/better-sqlite3.ormconfig.json ormconfig.json
      - run: npx nyc -t ./nyc_output npm run test
      - run: npx nyc report --reporter html --reporter text --report-dir coverage/html -t ./nyc_output
      - uses: actions/upload-artifact@v4
        with:
          name: nyc_output-better-sqlite3
          path: ./nyc_output


  sqlite:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      npm_config_yes: 'true'
    container: ${{inputs.node-container}}

    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: chown -R 1001:127 /github/home/.npm #This fix is needed for running CLI tests
      - run: chown -R 1001:127 ./temp #This fix is needed for fixing permission error on Node 16
      - run: cp .github/workflows/test/sqlite.ormconfig.json ormconfig.json
      - run: npx nyc -t ./nyc_output npm run test
      - run: npx nyc report --reporter html --reporter text --report-dir coverage/html -t ./nyc_output
      - uses: actions/upload-artifact@v4
        with:
          name: nyc_output-sqlite
          path: ./nyc_output


  sqljs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      npm_config_yes: 'true'
    container: ${{inputs.node-container}}

    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: chown -R 1001:127 /github/home/.npm #This fix is needed for running CLI tests
      - run: cp .github/workflows/test/sqljs.ormconfig.json ormconfig.json
      - run: npx nyc -t ./nyc_output npm run test
      - run: npx nyc report --reporter html --reporter text --report-dir coverage/html -t ./nyc_output
      - uses: actions/upload-artifact@v4
        with:
          name: nyc_output-sqljs
          path: ./nyc_output


  postgres:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    env:
      npm_config_yes: 'true'
    container: ${{inputs.node-container}}
    services:
      postgres:
        image: postgis/postgis:14-3.3
        env:
          POSTGRES_USERNAME: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: chown -R 1001:127 /github/home/.npm #This fix is needed for running CLI tests
      - run: cp .github/workflows/test/postgres.ormconfig.json ormconfig.json
      - run: npx nyc -t ./nyc_output npm run test
      - run: npx nyc report --reporter html --reporter text --report-dir coverage/html -t ./nyc_output
      - uses: actions/upload-artifact@v4
        with:
          name: nyc_output-postgres
          path: ./nyc_output
