name: Index docs to Typesense

on:
  push:
    branches:
      - master

jobs:
  index-docs:
    if: ${{ !github.event.repository.fork }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - run: |
          docker run \
            -e TYPESENSE_API_KEY=${{ secrets.TYPESENSE_API_KEY }} \
            -e TYPESENSE_HOST="${{ secrets.TYPESENSE_HOST }}" \
            -e TYPESENSE_PORT="443" \
            -e TYPESENSE_PROTOCOL="https" \
            -e CONFIG="$(cat docs/docsearch-scraper-config.json | jq -r tostring)" \
            typesense/docsearch-scraper
