name: mutation-testing

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  mutation-testing:
    runs-on: ubuntu-latest
    
    services:
      mysql:
        image: mysql:5.7.37
        ports:
          - "3306:3306"
        env:
          MYSQL_ROOT_PASSWORD: "admin"
          MYSQL_USER: "test"
          MYSQL_PASSWORD: "test"
          MYSQL_DATABASE: "test"
      mariadb:
        image: mariadb:10.10.3
        ports:
          - "3307:3306"
        env:
          MYSQL_ROOT_PASSWORD: "admin"
          MYSQL_USER: "test"
          MYSQL_PASSWORD: "test"
          MYSQL_DATABASE: "test"
      postgres:
        image: ghcr.io/naorpeled/typeorm-postgres:pg17-postgis3-pgvectorv0.8.0
        ports:
          - "5432:5432"
        env:
          POSTGRES_USERNAME: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - run: npm ci
      - run: cp .github/workflows/test/mutation-testing.ormconfig.json ormconfig.json
      - run: npx stryker run
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

      - uses: actions/upload-artifact@v4
        with:
          name: mutation-testing
          path: ./reports/mutation/mutation.html

