name: PR preview release

on:
  pull_request:
    paths:
      - ".github/workflows/preview.yml"
      - "src/**"
      - "gulpfile.ts"
      - "package.json"
      - "tsconfig.json"

jobs:
  release:
    name: Release preview build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run package

      - name: Release preview version
        run: npm run publish:preview
