name: Tests
on:
  push:
    branches:
      - master
      - next
  pull_request:

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      changes: ${{ steps.detect-changes.outputs.changes }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: detect-changes
        with:
          filters: |
            package-json: &package-json
              - package.json
              - package-lock.json

            docs: &docs
              - docs/**/*

            src: &src
              - extra/**/*.js
              - src/**/*.ts
              - gulpfile.js
              - tsconfig.json
              - *package-json

            src-or-tests: &src-or-tests
              - *src
              - test/**/*.ts
              - .github/workflows/test/**/*
              - .github/workflows/test*.yml
              - .mocharc.json
              - .nvmrc
              - .nycrc.json

            lint: &lint
              - *src-or-tests
              - .prettierrc.json
              - eslint.config.mjs

  formatting:
    if: contains(needs.detect-changes.outputs.changes, 'lint')
    needs: detect-changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
      - run: node --version
      - run: npm --version
      - run: npm ci
      - run: npm run lint
      - run: npm run format:ci

  all-passed:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - formatting
    steps:
      # Prevent merging this PR
      - run: exit 1
